<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cloud Land</title>
    <link rel='stylesheet' href='stylesheets/index.css'/>
</head>
<body>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '1216889568444120',
            xfbml      : true,
            version    : 'v2.12',
            status     : true
        });
        FB.AppEvents.logPageView();
    };

    function checkLogin() {
        FB.getLoginStatus(function(response) {
            console.log(status);
        });
    }

    function login() {
        FB.login(function(response) {
            if (response.status === 'connected') {
                console.log("user is connected")
            } else {
                console.log("The person is not logged into this app or we are unable to tell.");
            }

            // handle the response
            console.log("Response goes here!");

        }, {scope: 'email, public_profile'});
    }

    function logout() {
        FB.logout(function(response) {
            // user is now logged out
        });
    }

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=1216889568444120&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="main-container">
    <div class="top-container">
        <div class="text-div">
            <h1>App ID</h1>
            <h2>Welcome to your working<br/>App ID sample</h2>
        </div>

        <div class="wrapper">
            <form action="/form/submit" method="post" name="Login_Form" class="form-signin">
                <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
                <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
                <button class="button" name="Submit" value="Login" type="Submit">Login</button>
            </form>
        </div>

        <div class="flex-top">
            <button onclick="javascript:login();">Login with Facebook</button>
        </div>

        <div class="flex-top">
            <button onclick="javascript:logout();">Logout from Facebook</button>
        </div>

        <div class="flex-top">
            <button onclick="javascript:checkLogin();">Check Facebook's status</button>
        </div>


        <div id="login-button-div" class="flex-top">
            <a href="/login">
                <button class="button">Login with Oauth2</button>
            </a>
        </div>

        <div id="anon-login-button-div" class="flex-top">
            <a href="/anon_login">
                <button class="button">Continue as Guest</button>
            </a>
        </div>
    </div>
    <div class="bottom-container">
        <div class="flex-bottom">
            <img class="hint-icon" src="images/hint_icon.svg">
        </div>
        <div class="flex-bottom">
            <div class="flex-bottom">
                <h3>Hint:</h3> Replace this screen with
            </div>
            <div class="flex-bottom"> content that is available before</br>
                user is asked to login
            </div>
        </div>
    </div>
    <div
            class="fb-like"
            data-share="true"
            data-width="450"
            data-show-faces="true">
    </div>
</div>
</body>
</html>
